
<!DOCTYPE html>
    <html class="no-js"> 
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Área para os Padrinhos - Lucas & Ilana - Compartilhe conosco este momento</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Área para o gerenciamento e auxílio aos padrinhos do casamento L&I" />
	<meta name="keywords" content="Padrinhos Área" />
	<meta name="author" content="Lucas P." />

	<link rel="shortcut icon" href="favicon.ico">
	
	<link href="https://fonts.googleapis.com/css?family=Montez" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	

	<link rel="stylesheet" href="padrinhos/css/animate.css">
	<link rel="stylesheet" href="padrinhos/css/icomoon.css">
	<link rel="stylesheet" href="padrinhos/css/bootstrap.css">
	<link rel="stylesheet" href="padrinhos/css/superfish.css">
	<link rel="stylesheet" href="padrinhos/css/magnific-popup.css">
	<link rel="stylesheet" href="padrinhos/css/style.css">

	<script src="padrinhos/js/modernizr-2.6.2.min.js"></script>

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
	
		<div class="fh5co-hero" data-section="home">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(padrinhos/images/200A0983.jpg);">
				<div class="display-t">
					<div class="display-tc">
						<div class="container">
							<div class="col-md-10 col-md-offset-1">
								<div class="animate-box">
									<h1>Área dos Padrinhos  Casamento Lucas & Ilana</h1>
									<h2><%= padrinho %></h2>
									<p><span>10.12.2022</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="/areapadrinhos">Área dos Padrinhos</a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li class="active"><a href="/areapadrinhos" >Home</a></li>
							<li class="active"><a href="#">Tons de Roupa</a></li>
							<li class="active"><a href="#">Horários</a></li>
							<li class="active"><a href="#">Lista de presentes</a></li>
							<li class="active"><a href="/login" >Sair</a></li>
							<!--<li>
								<a href="groom-bride.html" class="fh5co-sub-ddown">Groom &amp; Bride</a>
								<ul class="fh5co-sub-menu">
									<li><a href="https://freehtml5.co/wedding-free-html5-bootstrap-template-for-wedding-websites/">Wedding Template</a></li>
									<li><a href="https://freehtml5.co/marble-free-html5-bootstrap-template-for-portfolio-or-multi-purpose-websites/">Marble Template</a></li>
									<li><a href="https://freehtml5.co/tasty-free-bootstrap-html5-template-for-restaurant-websites/">Tasty Template</a></li>
									<li><a href="https://freehtml5.co/education-free-html5-bootstrap-template-elearning-school-websites/">Education Template</a></li>
									<li><a href="https://freehtml5.co/words-free-html5-bootstrap-template-multi-purpose/">Words Template</a></li>
								</ul>
							</li>
							<li><a href="when-where.html">When &amp; Where</a></li>
							<li><a href="guest.html">Guest</a></li>
							<li><a href="gallery.html">Gallery</a></li>
							<li><a href="blog.html">Blog</a></li>-->
						</ul>
					</nav>
				</div>
			</div>
		</header>


		
		<div id="fh5co-couple" class="fh5co-section-gray">
			<div class="container">
				<div class="row d-flex justify-content-center row-bottom-padded-md animate-box">
					
					<div class="col-md-9 col-md-offset-3 text-center">
						<div class="col-md-5 col-sm-5 col-xs-5 nopadding">
							<img src="padrinhos/images/padrinhos/<%= foto %>" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
							<h3><%= padrinho %></h3>
						</div>
						<!--<div class="col-md-2 col-sm-2 col-xs-2 nopadding"><h2 class="amp-center"><i class="icon-heart"></i></h2></div>
						<div class="col-md-5 col-sm-5 col-xs-5 nopadding">
							<img src="images/bride.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
							<h3>Bruno</h3>
						</div>-->
					</div>
					
				</div>
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2">
						<div class="col-md-12 text-center heading-section" style="margin: 0;">
							<h2>Temos a alegria de ter vocês como padrinhos</h2>
							<p>Escolhemos vocês para esta função pois já fazem parte da nossa história e são exemplos para nós.Que nunca nos falte cuidado, oração, aconselhamento e comunhão em nossa amizade.
							Queremos que sejam as principais testemunhas da nossa união perante Deus.</p>
							<p><strong>Em Dezembro 10, 2022 &mdash; Palmeira dos Índios, Alagoas</strong></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--<div id="fh5co-countdown">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center animate-box">
					<p class="countdown">
						<span>61 dias</span>
						<span>20 horas</span>
						<span>06 minutos</span>
						<span>44 segundos</span>
					</p>
				</div>
			</div>
		</div>-->

		<div id="fh5co-groom-bride">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h2>Tons de Roupa</h2>
					</div>
				</div>
				<div class="row padding">
					<div class="couple-wrap">
						<div class="col-md-6 nopadding animate-box">
							<img src="padrinhos/images/homens.jpeg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						</div>
						<div class="col-md-6 nopadding animate-box">
							<div class="couple-desc">
								<h3>Padrinhos</h3>
								<p>Terno beje, camisa social branca e gravata da cor do vestido de sua companheira.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row padding">
					<div class="couple-wrap">
						<div class="col-md-6 col-md-push-6 nopadding animate-box">
							<img src="padrinhos/images/mulheres.jpeg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						</div>
						<div class="col-md-6 col-md-pull-6 nopadding animate-box">
							<div class="couple-desc">
								<h3>Madrinhas</h3>
								<p>Vestidos longos, tendo a opção de ser rosa canela ou rosa chá.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-countdown">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center heading-section">
						<h2 style="color: white;">Horário</h2>
						<p style="color: white;">Esperamos vocês na Igreja Batista Castelo Forte às <b>16:00</b> horas do dia <b>10.12.2022</b></p>
					</div>
				</div>

			</div>
		</div>

		<div id="fh5co-groom-bride">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h2>Lista de Presentes</h2>
					</div>
				</div>
				<div class="row padding">
					<div class="couple-wrap">
						<div class="col-md-6 nopadding animate-box">
							<img src="ilanaelucasforever/200A0910.jpg" class="img-responsive">
						</div>
						<div class="col-md-6 nopadding animate-box">
							<div class="couple-desc">
								<h3>Para acessar nossa lista de presente:</h3>
								<p><b><a href="/login" target="_blank" style="color: black; font-size: 15px;">Clique aqui e acesse como se fosse um convidado para ver a lista de presentes.</a></b></p>
								<p><a href="/login" target="_blank"><button class="btn btn-info btn-lg">Acessar Lista de Presentes</button></a></p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div id="fh5co-started" style="background-image:url(padrinhos/images/cover_bg_2.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center heading-section">
						<h2>Alguma dúvida?</h2>
						<p>O contato de nosso cerimonialista para auxiliar vocês nos detalhes e dúvidas: </p>
						<p>[ Basta clicar no ícone do Whatsapp ]</p>
						<p class="fh5co-social-icons">
							<a href="https://contate.me/casulocerimonial" target="_blank"><i class="icon-whatsapp"></i> 999582437</a>
						</p>
					</div>
				</div>

			</div>
		</div>
		
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<h2>Lucas &amp; Ilana</h2>
						</div>
						<div class="col-md-6 col-md-offset-3 text-center">
							<p class="fh5co-social-icons">
								<a href="https://www.instagram.com/ilanagrazielle/" target="_blank"><i class="icon-instagram"></i></a>
							</p>
							<p>Compartilhe em suas redes sociais conosco e celebremos o amor.</p>
							<p><b>O amor é paciente, o amor é bondoso. Não inveja, não se vangloria, não se orgulha. Não maltrata, não procura seus interesses, não se ira facilmente, não guarda rancor. O amor não se alegra com a injustiça, mas se alegra com a verdade. Tudo sofre, tudo crê, tudo espera, tudo suporta. (1 Coríntios 13:4-7)</b></p>
							<p>Todos os direitos reservados. © 2022 Design Por : <a target="_blank" href="https://github.com/Nepturne"><b>Noivo Lucas</b></a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</div>

	</div>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="padrinhos/dist/scripts.min.js"></script>
	</body>
</html>

