<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- Site Metas -->
	<title>Lucas e Ilana - Site dos Noivos || Compartilhe conosco este momento</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Site Icons -->
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Pogo Slider CSS -->
	<link rel="stylesheet" href="css/pogo-slider.min.css">
	<!-- Site CSS -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="css/responsive.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/custom.css">

</head>

<style>
	#musica { display: none }
</style>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98" onclick="play()">
	<audio id="audioCasamentoLucaseIlana" src="./musica/Elesseamam.mp3" autoplay loop>  <p>Seu navegador não suporta o elemento audio </p> </audio> 
	<!-- LOADER -->
	<!--<div id="preloader">
		<div class="preloader pulse">
			<h3>Ilana Grazielle & Lucas P.</h3>
		</div>
	</div>--><!-- end loader -->
	<!-- END LOADER -->

	<!-- Start header -->
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
			<div class="container">
				<a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
					aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
					<ul class="navbar-nav">
						<li><a class="nav-link active" href="#home">Início</a></li>
						<li><a class="nav-link" href="#about">Nós</a></li>
						<li><a class="nav-link" href="#story">História</a></li>
						<li><a class="nav-link" href="#gallery">Galeria</a></li>
						<li><a class="nav-link" href="#horario">Horário</a></li>
						<li><a class="nav-link" target="_blank" href="/login">Padrinhos</a></li>
						<li><a class="nav-link" target="_blank" href="/login">Presentes</a></li>
						<!--<li><a href="/gerencialitl" target="_blank" class="nav-link" href="#story">Gerência</a></li>-->
					</ul>
				</div>
			</div>
		</nav>


	

	</header>
	<!-- End header -->

	<!-- Start Banner -->
	<div class="home-slider">
		<ul class="rslides">
			<li><img src="ilanaelucasforever/200A0983.jpg" alt=""></li>
			<li><img src="ilanaelucasforever/200A0959.jpg" alt=""></li>
			<li><img src="ilanaelucasforever/200A0897.jpg" alt=""></li>
		</ul>
		<div class="lbox-details">
			<h1>Lucas P. & Ilana G.</h1>
			<h2>Vamos nos casar <i class="fa fa-volume-up" style="cursor: pointer;" title="Clique aqui para escutar" aria-hidden="true"></i></h3>
				<div class="countdown main-time clearfix" style="margin-left: 190px;">
					<div id="timer">
						<h3>Dia: 10 Dezembro 2022 | <a href="https://drive.google.com/file/d/1-09mdFder8j_5X2CztpTSdMYlJ8F6mCQ/view?usp=sharing" target="_blank" style="cursor: pointer; color: white;">Ver Pedido</a></h3>
						<div id="days"></div>
						<div id="hours"></div>
						<a href="/login" target="_blank"><div id="lista" style="cursor: pointer;"></div></a>
						<div id="minutes"></div>
						<div id="seconds"></div>
					</div>
				</div>
		</div>
	</div>
	<!-- End Banner -->

	<!-- Start About us -->
	<div id="about" class="about-box">
		<div class="about-a1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="title-box">
							<h2>Lucas<span> & </span> Ilana</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row align-items-center about-main-info">
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="about-m">
									<div class="about-img">
										<img class="img-fluid" src="images/ilanainitial.png" alt="" />
									</div>
									<ul>
										<li><a href="https://www.instagram.com/ilanagrazielle/" target="_blank"><i class="fa fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-8 col-md-6 col-sm-12">
								<h2> <i class="fa fa-heart-o" aria-hidden="true"></i> <span>Ilana Grazielle</span> <i
										class="fa fa-heart-o" aria-hidden="true"></i></h2>
							</div>
						</div>
						<div class="row align-items-center about-main-info">
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="about-m">
									<div class="about-img">
										<img class="img-fluid" src="images/lucasinitial.png" alt="" />
									</div>
									<ul>
										<li><a href="https://www.instagram.com/lucasmainstdev/" target="_blank"><i class="fa fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-8 col-md-6 col-sm-12">
								<h2> <i class="fa fa-heart-o" aria-hidden="true"></i> <span>Lucas Pereira</span> <i
										class="fa fa-heart-o" aria-hidden="true"></i></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About us -->

	<!-- Start Story -->
	<div id="story" class="story-box main-timeline-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Nossa história</h2>
						<p>O amor é paciente, o amor é bondoso. Não inveja, não se vangloria, não se orgulha. Não maltrata, não procura seus interesses, não se ira facilmente, não guarda rancor. O amor não se alegra com a injustiça, mas se alegra com a verdade. Tudo sofre, tudo crê, tudo espera, tudo suporta. (1 Coríntios 13:4-7)</p>
					</div>
				</div>
			</div>

			<div class="timeLine">
				<div class="row">
					<div class="lineHeader hidden-sm hidden-xs"></div>
					<div class="lineFooter hidden-sm hidden-xs"></div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item" style="background-color: white;">
						<div class="caption">
							<div class="star center-block">
								<span class="h3">19</span>
								<span>Maio </span>
								<span>2018</span>
							</div>
							<div class="image">
								<img src="images/time-01.jpg" alt="" />
								<div class="title">
									<h2>Pedido Namoro<i class="fa fa-angle-right" aria-hidden="true"></i></h2>
								</div>
							</div>
							<div class="textContent">
								<p class="lead">Nosso pedido de namoro em palmeira dos índios no restaurante Loucos por Macarronada.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
						<div class="caption">
							<div class="star center-block">
								<span class="h3">19</span>
								<span>Maio</span>
								<span>2019</span>
							</div>
							<div class="image">
								<img src="images/time-02.jpg" alt="" />
								<div class="title">
									<h2>1º Ano de Namoro <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
								</div>
							</div>
							<div class="textContent">
								<p class="lead">O dia em que comemoramos o nosso 1º ano de namoro. <3 </p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
						<div class="caption">
							<div class="star center-block">
								<span class="h3">19</span>
								<span>Maio</span>
								<span>2020</span>
							</div>
							<div class="image">
								<img src="images/time-03.jpg" alt="" />
								<div class="title">
									<h2>2º Ano de Namoro <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
								</div>
							</div>
							<div class="textContent">
								<p class="lead">Quando fizemos 2 anos de namoro e compramos uma pizza em formato de coração.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
						<div class="caption">
							<div class="star center-block">
								<span class="h3">19</span>
								<span>Maio</span>
								<span>2021</span>
							</div>
							<div class="image">
								<img src="images/time-04.jpg" alt="" />
								<div class="title">
									<h2>3º Ano de Namoro <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
								</div>
							</div>
							<div class="textContent">
								<p class="lead">Nosso 3º ano de namoro quando estavamos enfretando o covid mas ficou tudo bem! Graças a Deus
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
						<div class="caption">
							<div class="star center-block">
								<span class="h3">18</span>
								<span>Janeiro</span>
								<span>2022</span>
							</div>
							<div class="image">
								<img src="images/time-05.jpg" alt="" />
								<div class="title">
									<h2>Pedido de Casamento <a href="https://drive.google.com/file/d/1-09mdFder8j_5X2CztpTSdMYlJ8F6mCQ/view?usp=sharing" target="_blank" style="cursor: pointer; color: white;">Assistir Vídeo </a>  <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
								</div>
							</div>
							<div class="textContent">
								<p class="lead">Pedido de casamento mais inusitado no cinema do Arapiraca Garden Shopping, onde alugamos o telão do cinema para o pedido.</p>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
						<div class="caption">
							<div class="star center-block">
								<span class="h3">24</span>
								<span>Janeiro</span>
								<span>2022</span>
							</div>
							<div class="image">
								<img src="images/time-06.jpg" alt="" />
								<div class="title">
									<h2>Oficialização Noivado <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
								</div>
							</div>
							<div class="textContent">
								<p class="lead">Dia em que oficializamos nosso noivado na presença de nossos familiares e amigos com a Benção de nosso Deus e Senhor Jesus Cristo Todo Poderoso.</p>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
						<div class="caption">
							<div class="star center-block">
								<span class="h3">19</span>
								<span>Maio</span>
								<span>2022</span>
							</div>
							<div class="image">
								<img src="images/time-07.jpg" alt="" />
								<div class="title">
									<h2>4º Ano de Namoro <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
								</div>
							</div>
							<div class="textContent">
								<p class="lead">Dia em que comemoramos o nosso tão esperado, 4 anos de relacionamento e muito amor, confidência e cumplicidade. Muito felizes e esperançosos de tempos melhores.</p>
							</div>
						</div>
					</div>


					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
						<div class="caption" >
							<div class="star center-block">
								<span class="h3">29</span>
								<span>Setembro</span>
								<span>2022</span>
							</div>
							<div class="image">
								<img src="images/time-08.jpg" alt="" />
								<div class="title">
									<h2>Pre-Wedding <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
								</div>
							</div>
							<div class="textContent">
								<p class="lead">Dia do nosso pré-wedding <a href="#gallery">[Ver fotos]</a></p>
							</div>
						</div>
					</div>
					

				</div>
			</div>

		</div>
	</div>
	<!-- End Story -->

	<!-- Start Family -->
	<div id="family" class="family-box">
	<!-- Start Gallery -->
	<div id="gallery" class="gallery-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Galeria</h2>
						<p>Ensaio de Fotos </p>
					</div>
				</div>
			</div>
			<div class="row">
				<ul class="popup-gallery clearfix">
					<li>
						<a href="ilanaelucasforever/200A1012.jpg">
							<img class="img-fluid" src="ilanaelucasforever/200A1012.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="ilanaelucasforever/200A0835.jpg">
							<img class="img-fluid" src="ilanaelucasforever/200A0835.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="ilanaelucasforever/200A0994.jpg">
							<img class="img-fluid" src="ilanaelucasforever/200A0994.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="ilanaelucasforever/200A0959.jpg">
							<img class="img-fluid" src="ilanaelucasforever/200A0959.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="ilanaelucasforever/200A0876.jpg">
							<img class="img-fluid" src="ilanaelucasforever/200A0876.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="ilanaelucasforever/200A0885.jpg">
							<img class="img-fluid" src="ilanaelucasforever/200A0885.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="ilanaelucasforever/200A0890.jpg">
							<img class="img-fluid" src="ilanaelucasforever/200A0890.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="ilanaelucasforever/200A0897.jpg">
							<img class="img-fluid" src="ilanaelucasforever/200A0897.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="ilanaelucasforever/200A1322.jpg">
							<img class="img-fluid" src="ilanaelucasforever/200A1322.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="ilanaelucasforever/200A0897.jpg">
							<img class="img-fluid" src="ilanaelucasforever/200A1425.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="ilanaelucasforever/200A0897.jpg">
							<img class="img-fluid" src="ilanaelucasforever/200A1429.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="ilanaelucasforever/200A0897.jpg">
							<img class="img-fluid" src="ilanaelucasforever/200A1443.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>

					<li>
						<a href="ilanaelucasforever/200A1491.jpg">
							<img class="img-fluid" src="ilanaelucasforever/200A1491.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="ilanaelucasforever/200A1530.jpg">
							<img class="img-fluid" src="ilanaelucasforever/200A1530.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>

					<li>
						<a href="ilanaelucasforever/200A1152.png">
							<img class="img-fluid" src="ilanaelucasforever/200A1152.png" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="ilanaelucasforever/200A1459.jpg">
							<img class="img-fluid" src="ilanaelucasforever/200A1459.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>

					<li>
						<a href="ilanaelucasforever/200A0910.jpg">
							<img class="img-fluid" src="ilanaelucasforever/200A0910.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>

					<li>
						<a href="ilanaelucasforever/Prancheta 5.png">
							<img class="img-fluid" src="ilanaelucasforever/Prancheta 5.png" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>

					<li>
						<a href="ilanaelucasforever/200A1346.jpg">
							<img class="img-fluid" src="ilanaelucasforever/200A1346.jpg" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>

					
				</ul>
			</div>
		</div>
	</div>
	<!-- End Gallery -->
	</div>
	<!-- End Family -->

	<div id="horario" class="gallery-box">
		<div id="horario" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title-box">
							<h2>Horários</h2>
						</div>
					</div>
				</div>
	
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="serviceBox">
							<div class="service-icon"><i class="flaticon-bachelorette-party"></i></div>
							<h3 class="title">Padrinhos </h3>
							<h4><b>Aviso</b></h4>
							<p class="description">
								Sejam pontuais se possível cheguem 15 minutos antes para que todos possam se organizar.
							</p>
						</div>
					</div>
	
					<div class="col-md-4 col-sm-6">
						<div class="serviceBox">
							<div class="service-icon"><i class="flaticon-wedding"></i></div>
							<h3 class="title">Cerimônia</h3>
							<h4><b>10 de dezembro às 16:00</b></h4>
							<p class="description">
								Aguardamos ansiosamente pela sua presença , neste momento tão especial e único.
							</p>
						</div>
					</div>
	
					<div class="col-md-4 col-sm-6">
						<div class="serviceBox">
							<div class="service-icon"><i class="flaticon-reception-bell"></i></div>
							<h3 class="title">Recepção</h3>
							<h4><b>Ao final da cerimônia:</b></h4>
							<p class="description">
								Não se preocupem em se deslocar a recepção será no mesmo local que a cerimônia.
							</p>
						</div>
					</div>
				</div>
	
			</div>
		</div>
	
		<!-- End Wedding -->
	</div>
	<!-- End Gallery -->

	<!-- Start Wedding -->

	<div id="wedding" class="wedding-box">
		<div id="wedding">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title-box">
							<h2>Localização</h2>
							<p><b>Como chegar ao local que Deus reservou para selar nossa união?</b></p>
						</div>
					</div>
				</div>
				<div class="row d-flex justify-content-center">

					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="event-inner">
							<div class="event-img">
								<img class="img-fluid" src="images/baptist.png" alt="" />
							</div>
							<h2>Igreja Batista Castelo Forte</h2>
							<p>Rua Bom Jesus dos Passos, 259, Vila Maria, Palmeira dos Índios-AL. CEP: 57607-220</p>
							<a target="_blank" href="https://www.google.com.br/maps/@-9.4179416,-36.6365317,3a,75y,217.2h,80.66t/data=!3m6!1e1!3m4!1sYkMqUpOdfDAhNAjCPNN7eQ!2e0!7i13312!8i6656">Mapa <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<!-- End Wedding -->

	<!-- Start Contact -->
	<div id="horario" class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Contato</h2>
						<p>Para esclarecer alguma dúvida nos consulte no whatsapp ou por email preenchendo os campos abaixo:</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<div class="contact-block">
						<form id="contactForm">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" id="name" name="name"
											placeholder="Seu nome" autocomplete="off" required data-error="Por favor informe seu nome">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" placeholder="Seu Email" id="email" class="form-control"
											name="name" autocomplete="off" required data-error="Por favor informe seu e-mail">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<select class="custom-select d-block form-control" id="guest" required
											data-error="Please select an item in the list.">
											<option disabled selected>Você é*</option>
											<option value="1">Parente</option>
											<option value="2">Amigo</option>
											<option value="3">Irmão</option>
											<option value="4">Padrinho</option>
											<option value="5">Conhecido</option>
										</select>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<select class="custom-select d-block form-control" id="event" required
											data-error="Please select an item in the list.">
											<option disabled selected>A minha duvida é: *</option>
											<option value="1">Dia do Evento</option>
											<option value="2">Hora do Evento</option>
											<option value="3">Hora da Festa</option>
											<option value="4">Local da Cerimônia</option>
										</select>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input class="form-control" id="message" placeholder="Whatsapp/Contato" rows="8"
											data-error="Whatsapp/Contato" required>
										<div class="help-block with-errors"></div>
									</div>
									<div class="form-group">
										<textarea class="form-control" id="message" placeholder="Sua mensagem" rows="8"
											data-error="Escreva sua mensagem" required></textarea>
										<div class="help-block with-errors"></div>
									</div>
									<div class="submit-button text-center">
										<button class="btn btn-common" id="submit" type="submit">Envie nos uma mensagem <i class="fa fa-heart-o" aria-hidden="true"></i></button>
										<div id="msgSubmit" class="h3 text-center hidden"></div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact -->

	<!-- Start Footer -->
	<footer class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="footer-company-name">Todos os direitos reservados. &copy; 2022  Design
						Por : <a href="https://github.com/Nepturne" target="_blank" style="color: white;">Noivo Lucas</a></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<!-- ALL JS FILES -->
	<script src="js/jquery.min.js"></script>
	<script>
		audio = document.getElementById('audioCasamentoLucaseIlana');
	   
	   function play(){
		   audio.play();              
	   }
	
	   function pause(){
		   audio.pause();      
	   } 

	 </script>

	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- ALL PLUGINS -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.pogo-slider.min.js"></script>
	<script src="js/slider-index.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/responsiveslides.min.js"></script>
	<script src="js/timeLine.min.js"></script>
	<script src="js/form-validator.min.js"></script>
	<script src="js/contact-form-script.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>