<!doctype html>
<html lang="pt-br">

<head>
    <title>Painel Administrativo - Casamento L&I</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="admin/css/style.css">
</head>

<body>
    <div id="colorlib-page">
        <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
        <aside id="colorlib-aside" role="complementary" class="js-fullheight">
            <nav id="colorlib-main-menu" role="navigation">
                <img src="images/logouser.png" style="width:85px; height:85px;" alt="logo">
                <br />
                <ul>
                  <li><a href="/gerencia">Dados</a></li>
                  <li><a href="/contribuintes">Contribuintes</a></li>
                  <li class="colorlib-active"><a href="/cadastrarpresente">Novo Presente</a></li>
                  <li><a href="/verpresente">Ver Presentes</a></li>
                  <li><a href="/novopadrinho">Novo Padrinho</a></li>
                  <li><a href="/novoconvidado">Novo Convidado</a></li>
                  <li><a href="/gerencialitl">Sair</a></li>
                </ul>
            </nav>
        </aside> <!-- END COLORLIB-ASIDE -->

        <div id="colorlib-main">
          
          <section class="ftco-section pt-4 mb-5 ftco-intro">
              
              <div class="container-fluid px-3 px-md-0">
                    
                    <div class="row">
                        <div class="col-lg-12 mb-4" style=" color: white; background-color: rgb(43, 144, 226);">
                            <h1 class="h2" style="color: white;">Cadastrar um novo produto:</h1>
                        </div>

                        <form method="post" action="/processarPresente" enctype="multipart/form-data">
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputEmail4">Nome do Produto</label>
                                <input type="text" name="nome_product" class="form-control" id="inputEmail4" required placeholder="Nome do Produto">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="valorProduto">Valor do Produto [ Sem , ou . ]</label>
                                <input type="text" name="valor_produto" class="form-control" id="valorProduto" required placeholder="Valor do Produto">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="valorTraco">Valor com Traço [ Sem , ou . ]</label>
                              <input type="text" name="valor_traco" class="form-control" id="valorTraco" required placeholder="Desconto">
                            </div>
                            <div class="form-group">
                              <label for="inputAddress2">Status</label>
                              <input type="text" name="status_produto"  value="Em pagamento" class="form-control" required id="inputAddress2" placeholder="Falta">
                            </div>
                            <div class="form-group">
                              <label for="descricao">Descrição do Presente</label>
                              <input type="text" name="descricao"  class="form-control" required id="descricao" placeholder="Descrição do produto/presente">
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-12">
                                <label for="inputCity">Imagem [ 1000 Largura x 1000 Altura ]</label>
                                <input type="file" name="imagem_product" class="form-control" id="inputCity" required accept="image/*">
                              </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Cadastrar Presente</button>
                          </form>

                        </div>

                    </div>

                </div>

            </section>

        </div><!-- END COLORLIB-MAIN -->
    </div><!-- END COLORLIB-PAGE -->

    </section>

    <script src="admin/js/jquery.min.js"></script>
    <script src="admin/js/popper.js"></script>
    <script src="admin/js/bootstrap.min.js"></script>
    <script src="admin/js/main.js"></script>
    <script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
    
    <script>
        // Máscara para dinheiro
        $('#valorTraco').mask('#.##0.00', { reverse: true });
        $('#valorProduto').mask('#.##0.00', { reverse: true });
        //===================================================================================
    </script>

</body>

</html>