<!doctype html>
<html lang="pt-br">

<head>
    <title>Painel Administrativo - Casamento L&I</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="admin/css/style.css">


</head>

<body>
    <div id="colorlib-page">
        <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
        <aside id="colorlib-aside" role="complementary" class="js-fullheight">
            <nav id="colorlib-main-menu" role="navigation">
                <img src="images/logouser.png" style="width:85px; height:85px;" alt="logo">
                <br />
                <ul>
                  <li><a href="/gerencia">Dados</a></li>
                  <li><a href="/contribuintes">Pagamentos</a></li>
                  <li><a href="/cadastrarpresente">Novo Presente</a></li>
                  <li><a href="/verpresente">Ver Presentes</a></li>
                  <li><a href="/novopadrinho">Novo Padrinho</a></li>
                  <li class="colorlib-active"><a href="/novoconvidado">Novo Convidado</a></li>
                  <li><a href="/">Sair</a></li>
                </ul>
            </nav>
        </aside> <!-- END COLORLIB-ASIDE -->

        <div id="colorlib-main">
            <section class="ftco-section pt-4 mb-5 ftco-intro">
                <div class="container-fluid px-3 px-md-0">
                    <div class="row">
                        <div class="col-lg-12 mb-4" style=" color: white; background-color: rgb(43, 144, 226);">
                            <h1 class="h2" style="color: white;">Cadastrar um novo convidado:</h1>
                        </div>

                        <form>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputEmail4">Grau [ Convidado ]</label>
                                <input disabled type="email" class="form-control" id="inputEmail4" placeholder="Padrinho" value="Convidado">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputPassword4">Código de Acesso</label>
                                <input type="text"  disabled class="form-control" id="inputPassword4" placeholder="Código de Acesso" value="CONVLEI">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="inputAddress">Nome do Convidado</label>
                              <input type="text" class="form-control" id="inputAddress" placeholder="Nome do convidado">
                            </div>
                          
                            </div>

                            <button type="submit" class="btn btn-primary">Cadastrar Convidado</button>
                          </form>

                        </div>

                    </div>
                </div>
            </section>
        </div><!-- END COLORLIB-MAIN -->
    </div><!-- END COLORLIB-PAGE -->

    </section>

    <script src="admin/js/jquery.min.js"></script>
    <script src="admin/js/popper.js"></script>
    <script src="admin/js/bootstrap.min.js"></script>
    <script src="admin/js/main.js"></script>

</body>

</html>