<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Site Icons -->
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    
    <title>Lucas e Ilana - Lista de Presentes</title>
    <link rel="stylesheet" href="css/styletwo.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>


    <main>

        <div class="row">
            
            <div class="colm-logo">
                <img src="images/logo_casa_login.png" alt="Logo">
                <h2>Lista de presentes - Lucas e Ilana</h2>
            </div>
            
            <div class="colm-form">
                
                <form method="post" action="/authenticate">
                    <div class="form-container">
                        <select type="hidden" name="parentesco" id="tipoUser" required data-error="Por favor selecione um item da lista.">
                            <option disabled>Você é:</option>
                            <option value="Convidado">Convidado</option>
                            <option value="Padrinho">Padrinho</option>
                        </select>
                       
                        <select  name="padrinho" id="Padrinhos" required data-error="Selecione o casal de padrinhos corretamente">
                            <option disabled>Queridos Padrinhos:</option>
                            <option value="Rosana e Alysson">Rosana e Alysson</option>
                            <option value="Bruna e Bruno">Bruna e Bruno</option>
                            <option value="Thaís e Eber">Thaís e Eber</option>
                            <option value="Inay e Jadiel">Inay e Jadiel</option>
                            <option value="Ingrid e Jardel">Ingrid e Jardel</option>
                            <option value="Vanessa e Léo">Vanessa e Léo</option>
                            <option value="Neila e Júlio">Neila e Júlio</option>
                        </select>

                        <input name="codigo" type="hidden" placeholder="Código de Acesso" id="tipoApply" value="CONVLEI" required>
                        <input name="nome" type="text" placeholder="Digite seu nome" autocomplete="off" id="named" required>
                        <input name="telefone" autocomplete="off" type="text" class="telefone" placeholder="Digite seu telefone / Whatsapp" required>
                        <button class="btn-login" type="submit">Acessar</button>
                        <!--<button class="btn-new">Esqueci o código</button>-->
                    </div>
                    <p><a href="/"><b>Voltar</b></a> para página inicial.</p>
                </form>

            </div>

        </div>

    </main>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script>
        jQuery("input.telefone")
        .mask("(99) 99999-999?9")
        .focusout(function (event) {  
            var target, phone, element;  
            target = (event.currentTarget) ? event.currentTarget : event.srcElement;  
            phone = target.value.replace(/\D/g, '');
            element = $(target);  
            element.unmask();  
            if(phone.length > 10) {  
                element.mask("(99) 99999-999?9");  
            } else {  
                element.mask("(99) 9999-9999?9");  
            }  
        });

    $("#Padrinhos").hide();
    $('#tipoUser').change(function() {
        var option = $('#tipoUser').find(":selected").text();
        if( option == "Padrinho")
        {
            $("#Padrinhos").show();
            $('#named').hide().removeAttr("required");;
            $("#tipoApply").val('CODPALUEI');
        }
        else if ( option == "Convidado")
        {
            $("#Padrinhos").hide();
            $('#named').show();
            $("#tipoApply").val('CONVLEI');
        }
    });
    </script>
</body>
</html>